--extra-index-url https://download.pytorch.org/whl/cpu
pandas
numpy
scikit-learn
lightgbm
sentence-transformers
joblib
fastapi
uvicorn
faiss-cpu
langchain
langchain-core
langchain-community
langchain-cohere
langchain-huggingface
pyarrow
